<script setup lang="ts">
// import HelloWorld from './components/HelloWorld.vue'
// import Canvas from './components/Canvas.vue'
// import AuthWSclientVue from './components/AuthWSclient.vue'
// import Wsclient from './components/Wsclient.vue'
// import Home from './views/Home.vue'
import Dashboard from '@components/Dashboard.vue';
</script>

<template>
  <!-- <Canvas /> -->
  <!-- <Wsclient/>   -->
  <!-- <AuthWSclientVue /> -->
  <!-- <Home/> -->
  <!-- <router-view></router-view> -->
  <Dashboard></Dashboard>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>

