<template>
    <div class="bg-gray-100 dark:bg-gray-900 dark:text-white text-gray-600 h-screen flex overflow-hidden text-sm">
        <div
            class="bg-white dark:bg-gray-900 dark:border-gray-800 w-20 flex-shrink-0 border-r border-gray-200 flex-col hidden sm:flex">
            <div class="h-16 text-blue-500 flex items-center justify-center">
                <!-- <svg class="w-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 54 33">
                    <path fill="currentColor" fill-rule="evenodd"
                        d="M27 0c-7.2 0-11.7 3.6-13.5 10.8 2.7-3.6 5.85-4.95 9.45-4.05 2.054.513 3.522 2.004 5.147 3.653C30.744 13.09 33.808 16.2 40.5 16.2c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C36.756 3.11 33.692 0 27 0zM13.5 16.2C6.3 16.2 1.8 19.8 0 27c2.7-3.6 5.85-4.95 9.45-4.05 2.054.514 3.522 2.004 5.147 3.653C17.244 29.29 20.308 32.4 27 32.4c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C23.256 19.31 20.192 16.2 13.5 16.2z"
                        clip-rule="evenodd" />
                </svg> -->
                <svg width="800px" height="800px" viewBox="0 0 1024 1024" class="icon m-2" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M579.3 245c-27.6-18.8-47.5-38.7-60.1-53.2-12.6 14.5-32.6 34.3-60.3 53.2-51.7 35.2-110.9 54.6-176.4 57.9v232.9c0 8.5 1.1 18.4 3.4 29.4 0 0 28.5 179.4 233.3 272.1 0 0 148.7-56.3 214-214 15.2-34.7 22.4-65.8 22.4-87.5V302.9c-65.5-3.3-124.7-22.7-176.3-57.9z"
                        fill="#FFFFFF" />
                    <path
                        d="M618.8 500.7l44.5-95.4H600l-44.5 95.4zM422.2 405.3l-44.5 95.4H441l44.5-95.4zM574.4 405.3h-63.3l-44.5 95.4h63.3zM299.3 405.3v95.4h52.8l44.5-95.4zM738.9 500.7v-95.4h-50l-44.5 95.4z"
                        fill="#E6E6E6" />
                    <path
                        d="M519.1 837.3c-80.4-34.8-138.6-91.1-177.2-147.5-20.9-7-41-14.5-60.2-22.2 8.1 15.2 17.2 30.4 27.3 45 35.7 51.9 99.7 122.6 201.8 164.5 2.7 1.1 5.5 1.7 8.3 1.7 2.8 0 5.6-0.5 8.3-1.6 74.3-30.6 128.4-76.3 166.1-119-16.7-0.8-33.9-2.1-51.4-3.8-33.1 32.4-73.9 61.7-123 82.9zM891.3 553.2c-7.4-6.6-15.9-13.3-25.5-19.9-19.5-13.7-43.2-27.4-70.3-40.6V285.5c0-12.2-9.8-22.1-21.8-22.1-64.5-0.3-122.3-17.6-171.9-51.4-38.5-26.2-59.2-53.9-64.7-61.8-4.1-5.9-10.8-9.5-18-9.5-7.1 0-13.9 3.5-18 9.4-5.5 7.9-26.3 35.6-64.8 61.8-49.7 33.8-107.6 51.1-172 51.4-12 0.1-21.8 10-21.8 22.1V378c-12.4 0.8-24.1 1.9-35.1 3.4-24.7 3.3-45.7 8.3-62.8 14.9-29 11.3-45.9 27.1-50.3 47-4.2 19 3.6 39.4 23 60.8l0.1 0.1c0.4 0.4 0.7 0.8 1.1 1.2 18.1 19.4 45.5 39.2 81.5 58.9 2.4 1.3 4.9 2.7 7.4 4 13.4 7.1 27.8 14.1 42.9 20.8 4.4 16.6 10.6 33.9 18.3 51.4 17.8 7.7 36.6 15.1 56.3 22.2-10.6-18.4-19.2-36.5-25.8-53.5 55.3 21.1 117.9 39.7 183.8 54.3 74 16.4 146.4 26.4 211.1 29.5-10.1 14.5-21.4 28.9-34.1 42.9 17.1 1.4 33.8 2.4 49.9 2.9 7.2-9.1 13.6-17.9 19.3-26.2 4.2-6.1 8.2-12.3 12.1-18.6 13.9-0.1 27.2-0.5 40.1-1.4 33.5-2.2 61.9-6.9 84.6-14 5-1.6 9.7-3.2 14.1-5 8.7-3.5 16.3-7.5 22.7-11.8-3.3-5.6-7.5-11-12.1-16.1-6.6 4.4-14.9 8.3-24.7 11.7-21.7 7.6-50.9 12.9-85.9 15.2-8.7 0.6-17.7 1-27 1.2 26.8-48.8 42.6-99.1 42.6-138.1V515c28 14.2 51.8 28.8 70.3 43.1 4.4 3.4 8.4 6.7 12.2 10.1 16.3 14.5 34.8 35.8 30.6 55-0.7 3-1.9 5.8-3.6 8.6 5.1 5.5 9.4 11 12.8 16.4 5.2-6.3 8.6-13.2 10.3-20.7 5-23-7.4-48-36.9-74.3z m-681.7-6.6c-0.7-0.4-1.5-0.8-2.2-1.2-33.9-18.7-59.6-37.7-75.5-55.3-0.1 0-0.1 0.1-0.2 0.1-6.3-6.4-10.4-13.4-11.9-16.1-5.6-9.7-7.8-18.6-6-26.6 4.8-21.9 39-38.3 93.6-46 10.9-1.5 22.6-2.7 35.1-3.5v137.8c0 9 0.9 18.7 2.5 28.8-12.4-5.9-24.3-11.9-35.4-18z m546-10.8c0 31.7-15.5 83.9-48.8 137.7-66.4-2.3-142-12.4-219.5-29.6-71.3-15.8-138.6-36.2-196.6-59.5-5.5-18.8-8.2-35.5-8.2-48.6V302.9c65.5-3.3 124.7-22.7 176.4-57.9 27.7-18.8 47.6-38.7 60.3-53.2 12.6 14.5 32.5 34.3 60.1 53.2 51.6 35.2 110.8 54.6 176.3 57.9v232.9z"
                        fill="#005BFF" />
                    <path
                        d="M242.2 443.2c-40.1 2.5-73 8.7-97.6 18.3-9.6 3.7-17.9 8-24.8 12.7 3 5.2 7.1 10.5 12.1 16.1 21.2-14 59.5-23.5 110.3-26.9v-20.2z"
                        fill="#06F3FF" />
                    <path
                        d="M119.7 474.1c1.5 2.7 5.7 9.7 11.9 16.1 0.1 0 0.1-0.1 0.2-0.1-4.9-5.5-9-10.8-12.1-16 0.1 0 0.1 0 0 0zM917.8 648.2c-3.5-5.4-7.8-10.9-12.8-16.4-4.1-4.4-8.6-8.9-13.7-13.4-22.8-20.3-56.1-41.2-97-61.1-0.4 2.7-2.2 14.7-3.4 20.7 36.8 18.3 66.6 37.2 87.1 55.4 4.2 3.7 8.5 7.9 12.5 12.3 4.6 5 8.8 10.5 12.1 16.1 5.1 8.7 7.9 17.9 6 26.6-5.8 26.1-53.9 44.6-128.6 49.5-21.8 1.4-45.4 1.7-70.2 0.9-16.1-0.5-32.8-1.5-49.9-2.9-54.2-4.5-112.8-13.5-172.6-26.8-57.7-12.8-112.7-28.6-162.3-46.5-19.7-7.1-38.5-14.5-56.3-22.2-21.2-9.2-41-18.8-59-28.6-65.7-35.9-101.5-73-95.8-99.1 0.7-3 1.9-5.9 3.6-8.6l-0.1-0.1c-0.9-0.9-6.6-6.7-12.8-16.3-5.2 6.3-8.6 13.2-10.3 20.7-4.3 19.4 3.9 40.3 24.3 62.1 18.1 19.4 45.5 39.2 81.5 58.9 24.4 13.3 51.9 26.2 81.8 38.2 19.1 7.7 39.2 15.1 60.2 22.2 44 14.8 91.5 28 140.9 38.9 54.8 12.1 108.7 20.8 159.2 25.7 17.6 1.7 34.8 3 51.4 3.8 14.7 0.7 28.9 1.1 42.7 1.1 15.6 0 30.7-0.5 45-1.4 40.9-2.7 74.1-9.1 98.7-19 27.7-11.2 43.9-26.7 48.2-46.1 3.1-14.2-0.4-29.1-10.4-44.6z"
                        fill="#06F3FF" />
                    <path d="M117.4 504.1s-0.1 0-0.1-0.1c0 0 0.1 0 0.1 0.1z" fill="#06F3FF" />
                </svg>
            </div>
            <div class="flex mx-auto flex-grow mt-4 flex-col text-gray-400 space-y-4">
                <button class="h-10 w-12 dark:text-gray-500 rounded-md flex items-center justify-center">
                    <svg viewBox="0 0 24 24" class="h-5" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                </button>
                <button
                    class="h-10 w-12 dark:bg-gray-700 dark:text-white rounded-md flex items-center justify-center bg-blue-100 text-blue-500">
                    <!-- <button class="h-10 w-12 dark:text-gray-500 rounded-md flex items-center justify-center"> -->
                    <svg viewBox="0 0 24 24" class="h-5" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <rect x="3" y="3" width="7" height="7"></rect>
                        <rect x="14" y="3" width="7" height="7"></rect>
                        <rect x="14" y="14" width="7" height="7"></rect>
                        <rect x="3" y="14" width="7" height="7"></rect>
                    </svg>
                </button>
                <!-- <button
                        class="h-10 w-12 dark:bg-gray-700 dark:text-white rounded-md flex items-center justify-center bg-blue-100 text-blue-500">
                        <svg viewBox="0 0 24 24" class="h-5" stroke="currentColor" stroke-width="2" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                            <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                        </svg>
                    </button> -->
                <!-- <button class="h-10 w-12 dark:text-gray-500 rounded-md flex items-center justify-center">
                    <svg viewBox="0 0 24 24" class="h-5" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                        <line x1="12" y1="11" x2="12" y2="17"></line>
                        <line x1="9" y1="14" x2="15" y2="14"></line>
                    </svg>
                </button> -->

            </div>
        </div>
        <div class="flex-grow overflow-hidden h-full flex flex-col">
            <div class="h-16 lg:flex w-full border-b border-gray-200 dark:border-gray-800 hidden px-10">
                <div class="flex h-full text-gray-600 dark:text-gray-400">
                    <div class="card flex justify-center">
                        <ToggleButton v-model="showUserList" onLabel="On" offLabel="Off" />
                    </div>
                    <div class="card flex justify-center">
                        <ToggleButton v-model="showTableViewList" onLabel="On" offLabel="Off" />
                    </div>
                    <div class="card flex justify-center">
                        <ToggleButton v-model="showPagination" onLabel="On" offLabel="Off" />
                    </div>


                    <!-- <a href="#"
                        class="cursor-pointer h-full border-b-2 border-transparent inline-flex items-center mr-8">Company</a>
                    <a href="#"
                        class="cursor-pointer h-full border-b-2 border-blue-500 text-blue-500 dark:text-white dark:border-white inline-flex mr-8 items-center">Users</a>
                    <a href="#"
                        class="cursor-pointer h-full border-b-2 border-transparent inline-flex items-center mr-8">Expense
                        Centres</a>
                    <a href="#"
                        class="cursor-pointer h-full border-b-2 border-transparent inline-flex items-center">Currency
                        Exchange</a> -->
                </div>
                <div class="ml-auto flex items-center space-x-7">
                    <!-- <button class="h-8 px-3 rounded-md shadow text-white bg-blue-500">Deposit</button> -->

                    <button class="flex items-center">
                        <span class="relative flex-shrink-0">
                            <img class="w-7 h-7 rounded-full"
                                src="https://images.unsplash.com/photo-1521587765099-8835e7201186?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                                alt="profile" />
                            <span
                                class="absolute right-0 -mb-0.5 bottom-0 w-2 h-2 rounded-full bg-green-500 border border-white dark:border-gray-900"></span>
                        </span>
                        <span class="ml-2">James Smith</span>
                        <svg viewBox="0 0 24 24" class="w-4 ml-1 flex-shrink-0" stroke="currentColor" stroke-width="2"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="flex-grow flex overflow-x-hidden">
                <UserList v-if="showUserList" />
                <div class="flex-grow bg-white dark:bg-gray-900 overflow-y-auto">
                    <div
                        class="sm:px-7 sm:pt-7 px-4 pt-4 flex flex-col w-full border-b border-gray-200 bg-white dark:bg-gray-900 dark:text-white dark:border-gray-800 sticky top-0">
                        <div class="flex w-full items-center">
                            <div class="flex items-center text-3xl text-gray-900 dark:text-white">
                                <img src="https://assets.codepen.io/344846/internal/avatars/users/default.png?fit=crop&format=auto&height=512&version=1582611188&width=512"
                                    class="w-12 mr-4 rounded-full" alt="profile" />
                                Chanel name
                            </div>
                            <div class="ml-auto sm:flex hidden items-center justify-end">
                                <!-- <div class="text-right">
                                    <div class="text-xs text-gray-400 dark:text-gray-400">Account balance:</div>
                                    <div class="text-gray-900 text-lg dark:text-white">$2,794.00</div>
                                </div> -->
                                <button
                                    class="w-8 h-8 ml-4 text-gray-400 shadow dark:text-gray-400 rounded-full flex items-center justify-center border border-gray-200 dark:border-gray-700">
                                    <svg viewBox="0 0 24 24" class="w-4" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                        <circle cx="5" cy="12" r="1"></circle>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <!-- <div class="flex items-center space-x-3 sm:mt-7 mt-4">
                            <a href="#"
                                class="px-3 border-b-2 border-blue-500 text-blue-500 dark:text-white dark:border-white pb-1.5">Activities</a>
                            <a href="#"
                                class="px-3 border-b-2 border-transparent text-gray-600 dark:text-gray-400 pb-1.5">Transfer</a>
                            <a href="#"
                                class="px-3 border-b-2 border-transparent text-gray-600 dark:text-gray-400 pb-1.5 sm:block hidden">Budgets</a>
                            <a href="#"
                                class="px-3 border-b-2 border-transparent text-gray-600 dark:text-gray-400 pb-1.5 sm:block hidden">Notifications</a>
                            <a href="#"
                                class="px-3 border-b-2 border-transparent text-gray-600 dark:text-gray-400 pb-1.5 sm:block hidden">Cards</a>
                        </div> -->
                    </div>
                    <div class="sm:p-7 p-4">
                        <div class="flex w-full items-center mb-7">
                            <!-- <button
                                class="inline-flex mr-3 items-center h-8 pl-2.5 pr-2 rounded-md shadow text-gray-700 dark:text-gray-400 dark:border-gray-800 border border-gray-200 leading-none py-0">
                                <svg viewBox="0 0 24 24" class="w-4 mr-2 text-gray-400 dark:text-gray-600"
                                    stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                Last 30 days
                                <svg viewBox="0 0 24 24" class="w-4 ml-1.5 text-gray-400 dark:text-gray-600"
                                    stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </button> -->
                            <!-- <button
                                class="inline-flex items-center h-8 pl-2.5 pr-2 rounded-md shadow text-gray-700 dark:text-gray-400 dark:border-gray-800 border border-gray-200 leading-none py-0">
                                Filter by
                                <svg viewBox="0 0 24 24" class="w-4 ml-1.5 text-gray-400 dark:text-gray-600"
                                    stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </button> -->
                            <!-- <div class="ml-auto text-gray-500 text-xs sm:inline-flex hidden items-center">
                                <span class="mr-3">Page 2 of 4</span>
                                <button
                                    class="inline-flex mr-2 items-center h-8 w-8 justify-center text-gray-400 rounded-md shadow border border-gray-200 dark:border-gray-800 leading-none py-0">
                                    <svg class="w-4" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="15 18 9 12 15 6"></polyline>
                                    </svg>
                                </button>
                                <button
                                    class="inline-flex items-center h-8 w-8 justify-center text-gray-400 rounded-md shadow border border-gray-200 dark:border-gray-800 leading-none py-0">
                                    <svg class="w-4" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="9 18 15 12 9 6"></polyline>
                                    </svg>
                                </button>
                            </div> -->
                        </div>
                        <TableViewList v-if="showTableViewList" />
                        <Pagination v-if="showPagination" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>

import { ref } from 'vue';
import UserList from './UserList.vue'
import Pagination from './Pagination.vue'
import TableViewList from './TableViewList.vue'
const showUserList = ref(false);
const showTableViewList = ref(false);
const showPagination = ref(false);
</script>