<template>
    <div>
        <h2>WebSocket Chat</h2>
        <div v-if="!connected">
            <label for="username">Username:</label>
            <input type="text" v-model="username">
            <label for="channel">Channel:</label>
            <input type="text" v-model="channel">
            <button @click="connect">Connect</button>
        </div>

        <div v-if="connected">
            <h3>Chat Room</h3>
            <div>
                <strong>Users in this channel:</strong>
                <ul>
                    <li v-for="user in users" :key="user">{{ user }}</li>
                </ul>
            </div>
            <div>
                <div v-for="msg in messages" :key="msg.time">
                    <strong>{{ msg.username }}</strong> [{{ new Date(msg.time).toLocaleTimeString() }}]: {{ msg.text }}
                </div>
            </div>
            <input type="text" v-model="newMessage">

            <!-- <div class="card flex justify-center">
                <Textarea v-model="newMessage" rows="5" cols="30" />
            </div> -->

            <button @click="sendMessage">Send</button>
            <button @click="disconnect">Disconnect</button>
        </div>
    </div>
</template>

<script setup>
import { ref, onBeforeUnmount } from 'vue';

const username = ref('');
const channel = ref('');
const newMessage = ref('');
const messages = ref([]);
const users = ref([]);
const socket = ref(null);
const connected = ref(false);

const connect = () => {
    if (!username.value || !channel.value) {
        alert('Username and channel are required!');
        return;
    }

    const url = `ws://localhost:7074/ws?username=${username.value}&channel=${channel.value}`;
    socket.value = new WebSocket(url);

    socket.value.onopen = () => {
        console.log('Connected to WebSocket server');
        connected.value = true;
    };

    socket.value.onmessage = (event) => {
        const msg = JSON.parse(event.data);
        if (msg.type === 'userList') {
            updateUserList(msg.users);
        } else {
            displayMessage(msg);
        }
    };

    socket.value.onclose = () => {
        console.log('Disconnected from WebSocket server');
        connected.value = false;
    };

    socket.value.onerror = (error) => {
        console.error('WebSocket error:', error);
    };
};

const disconnect = () => {
    if (socket.value) {
        socket.value.close();
        connected.value = false;
    }
};

const sendMessage = () => {
    if (!newMessage.value) {
        return;
    }

    const msg = {
        username: username.value,
        text: newMessage.value,
        channel: channel.value
    };

    socket.value.send(JSON.stringify(msg));
    newMessage.value = '';
};

const displayMessage = (msg) => {
    messages.value.push(msg);
};

const updateUserList = (userList) => {
    users.value = userList;
};

onBeforeUnmount(() => {
    if (socket.value) {
        socket.value.close();
    }
});
</script>

<style scoped>
h2 {
    text-align: center;
}

div {
    margin: 20px;
}
</style>
