<template>
  <div>
    <h3>WebSocket Client</h3>
    <p>Status: {{ connectionStatus }}</p>
  </div>
</template>

<script setup>
import { ref, onMounted, onUnmounted } from 'vue';

const ws = ref(null);
const connectionStatus = ref('Disconnected');

function connectWebSocket() {
  ws.value = new WebSocket('ws://localhost:7074/ws');

  ws.value.onopen = () => {
    connectionStatus.value = 'Connected';
    console.log('WebSocket connected');
  };

  ws.value.onmessage = (message) => {
    console.log('Received:', message.data);
  };

  ws.value.onclose = () => {
    connectionStatus.value = 'Disconnected';
    console.log('WebSocket disconnected');
  };

  ws.value.onerror = (error) => {
    console.error('WebSocket Error:', error);
  };
}

onMounted(() => {
  connectWebSocket();
});

onUnmounted(() => {
  if (ws.value) {
    ws.value.close();
  }
});
</script>

<style scoped>
h3 {
  color: #42b883;
}
p {
  color: #646cff;
}
</style>
