
<template>
    <div class="flex flex-col gap-2">
        <label for="username">Username</label>
        <InputText id="username" v-model="value" aria-describedby="username-help" />
    </div>
</template>

<script setup>
import { ref } from 'vue';

const value = ref(null);
</script>

<style scoped>
.card {
    background-color:rgb(45, 126, 158)
    }
</style>
