<template>
  <div>
    <h2>WebSocket Chat</h2>
    <div v-if="!connected">
      <label for="username">Username:</label>
      <InputText type="text" v-model="username" />
      <label for="channel">Channel:</label>
      <InputText type="text" v-model="channel" />
      <Button @click="connect" label="Connect" />
    </div>

    <div v-if="connected">
      <h3>Chat Room</h3>
      <div>
        <strong>Users in this channel:</strong>
        <ul>
          <li v-for="user in users" :key="user">{{ user }}</li>
        </ul>
      </div>
      <div>
        <div v-for="msg in messages" :key="msg.time">
          <strong>{{ msg.username }}</strong> [{{ new Date(msg.time).toLocaleTimeString() }}]: {{ msg.text }}
        </div>
      </div>
      <InputText type="text" v-model="newMessage" />

      <Button @click="sendMessage" label="Send" />
      <Button @click="disconnect" label="Disconnect" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onBeforeUnmount } from 'vue';
import WebSocketService from '../services/WebSocketService';

interface Message {
  username: string;
  text: string;
  time: string;
}

const username = ref('');
const channel = ref('');
const newMessage = ref('');
const messages = ref<Message[]>([]);
const users = ref<string[]>([]);
const connected = ref(false);
let webSocketService: WebSocketService | null = null;

const connect = () => {
  if (!username.value || !channel.value) {
    alert('Username and channel are required!');
    return;
  }

  webSocketService = new WebSocketService(
    'ws://localhost:7074/ws',
    username.value,
    channel.value,
    displayMessage,
    updateUserList
  );

  webSocketService.connect();
  connected.value = true;
};

const disconnect = () => {
  if (webSocketService) {
    webSocketService.disconnect();
    connected.value = false;
  }
};

const sendMessage = () => {
  if (!newMessage.value) {
    return;
  }

  webSocketService?.sendMessage(newMessage.value);
  newMessage.value = '';
};

const displayMessage = (msg: Message) => {
  messages.value.push(msg);
};

const updateUserList = (userList: string[]) => {
  users.value = userList;
};

onBeforeUnmount(() => {
  if (webSocketService) {
    webSocketService.disconnect();
  }
});
</script>

<style scoped>
h2 {
  text-align: center;
}
div {
  margin: 20px;
}
</style>
